.product-card {
    width: 240px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.product-card.loading {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 16px;
}

.product-image {
    height: 300px;
    object-fit: contain;
    margin-bottom: 16px;
    border-radius: 12px;
}

.product-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin: 8px 0;
    line-height: 1.3;
}

.product-price {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin: 4px 0;
    margin-bottom: 16px;
}

.product-bonus {
    font-size: 14px;
    color: rgb(255, 230, 235);
    margin: 8px 0 16px;
    background-color: rgb(237, 45, 84);
    width: 50px;
    justify-content: center;
    display: flex;
    border-radius: 12px;
    padding: 2px;
}

.add-to-cart-button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s;
}

.add-to-cart-button:hover {
    background-color: #222;
}